body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    margin-left: 10px;
}

#logo {
    width: 380px;
    margin: auto;
}

#image {
    max-height: 198px;
    max-width: 380px;
}

h5, h4 {
    margin: 3px 0;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
}

tr {
    padding: 0;
}

td {
    padding: 0;
}

table td {
    padding: 2px;
}

.items tr:first-child td {
    border-top: 1px solid #000;
}

.items tr:last-child td {
    border-bottom: 1px solid #000;
}

.mayus {
    text-transform: uppercase;
}

.minus {
    text-transform: lowercase;
}

.mark, .mark-error {
    color: rgba(255, 0, 0, 0.6);
    height: 400px;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: rotate(-50deg);
    font-size: 40px;
}

.mark-error {
    top: 38%;
    left: 35%;
}

.mt-3 {
    margin-top: 15px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.cort {
    word-wrap: break-word;
}
